:root{
    --default-toc-width: 25vw;
    --small-toc-width:50vw;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
body{
    margin:0px;
    display:flex;
}
.toc{
    height:100vh;
    background-color:rgb(29, 29, 29);
    flex-grow:1;
    flex-basis:0;
    display:flex;
    flex-direction:column;
    min-width: 100px;
    overflow-y:scroll;
    flex-wrap:1;
}
.actual_toc{
    overflow-y:scroll;
}
.actual_toc::-webkit-scrollbar {
    display:none;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.content{
    padding-top: 5vw;
    flex-grow:3;
    flex-basis: 0;
    flex-wrap:4;
}
.Home{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    cursor: pointer;
    color:rgb(158, 153, 153);
    font-weight: bold;
    position:sticky;
}
/* details summary{
    } */
details summary {
    /* transition: all 0.5s ease-in-out; */
    list-style: none;
    word-break: break-all;
    padding-right:5px;
    /* border-bottom:2px solid rgb(126, 125, 125); */
}
details a{
    display:block;
    word-break: break-all;
    padding-right:5px
}
.toc::-webkit-scrollbar {
    display:none;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
details[open] > summary > i{
    transform:rotate(90deg);
    transition:0.2s ease-in-out;
}
details > details[open] > summary > i{
    transform:rotate(90deg);
    transition:0.2s ease-in-out;
}

.level1{
    /* background-color: #0c0c0c; */
    margin-bottom:12px;
    background-color: #232222;
}
.level1 > summary{
    padding-left:15px;
    padding-top:16px;
    padding-bottom:16px;
    cursor:pointer;
    /* background-color: #212020; */
    border-radius: 3px;
    font-weight:bold;
    color: rgb(178, 177, 177);
    padding-right:5px;
    /* background-color: rgb(135, 134, 134); */
    font-size:16px;
}
.level1 summary:hover{
    background-color: rgb(135, 134, 134);
    color:black;
    /* border-bottom:2px solid rgb(21, 21, 21) */
}
.level2 > summary{
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    /* background-color: #333232; */
    border-radius: 3px;
    font-weight:bold;
    color: rgb(178, 177, 177);
    margin-top:5px;
    margin-bottom:5px;
}
.level2 > a{
    padding-left:80px;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
    /* background-color: #333232; */
    border-radius: 3px;
    font-weight:bold;
    color: rgb(178, 177, 177);
    text-decoration: none;
}
.level2 > a:hover{
    background-color: rgb(135, 134, 134);
    color:black;
}
.contact_me{
    display:flex;
    margin-top:auto;
    flex-direction:column
}
@media screen and (max-width: 840px) {
    :root {
     --default-toc-width: var(--small-toc-width);
   }
 }